@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    opacity: 0.5;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation-name: fadeInUp;
  animation-duration: var(--animation-duration-var, 0.6s);
  animation-delay: var(--animation-delay-var, 0s);
  animation-fill-mode: forwards; /* 애니메이션 완료 후 마지막 상태 유지 */
  opacity: 0;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  50% {
    opacity: 0.5;
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.fade-in-down {
  animation-name: fadeInDown;
  animation-duration: var(--animation-duration-var, 0.6s);
  animation-delay: var(--animation-delay-var, 0s);
  animation-fill-mode: forwards; /* 애니메이션 완료 후 마지막 상태 유지 */
  opacity: 0;
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  50% {
    opacity: 0.5;
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.fade-out-up {
  animation-name: fadeOutUp;
  animation-duration: var(--animation-duration-var, 0.6s);
  animation-delay: var(--animation-delay-var, 0s);
  animation-fill-mode: forwards; /* 애니메이션 완료 후 마지막 상태 유지 */
  opacity: 0;
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  50% {
    opacity: 0.5;
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

.fade-out-down {
  animation-name: fadeOutDown;
  animation-duration: var(--animation-duration-var, 0.6s);
  animation-delay: var(--animation-delay-var, 0s);
  animation-fill-mode: forwards; /* 애니메이션 완료 후 마지막 상태 유지 */
  opacity: 0;
}
