@import 'tailwindcss';
@import '../styles/animation.css';

:root {
  --background: #000000;
  --gradient: linear-gradient(135deg, #e0c3fc 0%, #f9f9f9 40%, #8ec5fc 100% /* 파스텔 블루 */);
  --foreground: #171717;
  --text: #52527a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--gradient);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}
