@import 'tailwindcss';
@import '../styles/animation.css';

:root {
  --background: #000000;

  /* --gradient2: linear-gradient(135deg, #0a0a0a 0%, #2d0b4f 50%, #8a2be2 100%); */
  /* --gradient2: linear-gradient(-225deg, #b8b0ea 0%, #f4e5f7 48%, #d4f1f4 100%); */
  /* --gradient2: linear-gradient(-225deg, #9d8df1 0%, #f2e5f8 48%, #b4f0e8 100%); */
  /* --gradient2: linear-gradient(-225deg, #c4b8f3 0%, #f8f0fc 48%, #e0f5f1 100%); */
  /* --gradient2: linear-gradient(-225deg, #c4b8f3 0%, #f8f0fc 40%, #d5f8f2 100%); */

  --gradient: linear-gradient(-225deg, #a8a0e8 0%, #efe9f5 48%, #d8ede9 100%);
  --foreground: #171717;
  --title: #52527a;
  --text: #394970; /* (조금 더 연함, 아래 색상에서 80%) */
  --text2: #08204b; /* (조금 더 블루 + 진함)*/
  --text3: #3d3d68;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--gradient);
  background-size: 100% 100vh;
  background-attachment: fixed;
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}
